<!-- <h1 class="menu-heading">Identification pour l'habilitation</h1> -->
<md-toolbar md-scroll-shrink>
	<div class="md-toolbar-tools">Identification pour l'habilitation</div>
</md-toolbar>

<form name="login">
	<md-content layout="row" layout="column" layout-padding layout-margin layout-wrap>
		<md-input-container layout-padding>
			<label>Identifiant</label>
			<input name="lastname" ng-model="identifiant" ng-required="true">
		</md-input-container>
		<md-input-container layout-padding>
			<label>Mot de passe</label>
			<input ng-model="password" type="password" ng-required="true">
		</md-input-container>
		<md-content layout="column" flex-sm="100" layout-align="end">
			<md-content layout-sm="row" layout-align-sm="end end">
				<md-button ng-disabled="!(identifiant && password)" class="md-raised md-primary" ng-click="validateLogin()">Valider</md-button>
			</md-content>
		</md-content>
	</md-content>
</form>


<p>
	Sélection: <span class="radioValue">{{data}}</span>
</p>
<md-radio-group ng-model="data">
	<md-radio-button value="a">réponse 1</md-radio-button>
	<md-radio-button value="b">réponse 2</md-radio-button>
	<md-radio-button value="c">réponse 3</md-radio-button>
</md-radio-group>

<!-- Partie ajout -->
<!-- 
 - La question à gauche
 - Les possibilités à droite
 - Un bouton validé en bas à droite
-->

<!-- 
<div layout='row' layout='column' layout-align='start center'>
	<div flex>
		ma question
	</div>
	<div layout='column'>
		<md-checkbox class='md-primary'>Proposition 1</md-checkbox>
		<md-checkbox class='md-primary'>Proposition 2</md-checkbox>
		<md-checkbox class='md-primary'>Proposition 3</md-checkbox>
	</div>
</div> -->