<h1 class="menu-heading">Identification pour l'habilitation</h1>

<form name="login">
	<md-content layout="row" layout="column" layout-padding layout-margin layout-wrap>
		<md-input-container layout-padding>
			<label>Identifiant</label>
			<input name="lastname" ng-model="identifiant" ng-required="true">
		</md-input-container>
		<md-input-container layout-padding>
			<label>Mot de passe</label>
			<input ng-model="password" type="password" ng-required="true">
		</md-input-container>
		<md-content layout="column" flex-sm="100" layout-align="end">
			<md-content layout-sm="row" layout-align-sm="end end">
				<md-button ng-disabled="!(identifiant && password)" class="md-raised md-primary" ng-click="validateLogin()">Valider</md-button>
			</md-content>
		</md-content>
	</md-content>
</form>
